<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Khai</key>
	<string>User</string>
	<key>Lia</key>
	<string>User</string>
	<key>Taylor</key>
	<string>User</string>
	<key>Vicky</key>
	<string>User</string>
	<key>Wilson</key>
	<string>User</string>
	<key>Zhi</key>
	<string>User</string>
</dict>
</plist>
